django
django-environ
psycopg2-binary
pgvector
openai
djangorestframework
gunicorn
google-cloud-aiplatform
google-genai
langchain-google-vertexai
twilio
qrcode[pil]
requests
python-json-logger
google-api-python-client
google-auth